<!DOCTYPE html>
<html>
  <head>
    <title>PonselKu</title>
    <%= stylesheet_link_tag "style", media: "all" %>
  </head>
  <body>
    <div id="template">
      <div id="header">
        <h2>PonselKu</h2>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/phones">Smartphone</a></li>
          
        </ul>
      </div>
      <%= link_to 'new', new_phone_path %>
      <div class="container-fluid" >
        <div class="row">
        <% @phones.each do |phone| %>
          
          <div class="col-sm-2" style="background-color:lavender;">
           <center> <img src="<%= url_for(phone.image) if phone.image.attached? %>" width="100" height="100"></center>
            
            <center> <%= link_to "#{phone.brand}", phone_path(phone) %></center>
          </div>
          
         <% end %>
       </div>
      </div>

      <div id="samping">

      </div>

      
    </div>
  </body>
</html>

