/*
 *= require_tree .
 *= require_self
*= require md_simple_editor
*/
#template{
	height: auto;
	width: 1080px;
	
	margin: 10px auto auto ;
}

#header{
	height: auto;
	width: 1080px;
	border: 1px solid #000;
	
	
}
h2{
	padding-left: 10px;
}

#menu{
	height: 50px;
	width: 1080px;
	
		
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#body{
  height: auto;
  width: 720px;
}

table.table-striped{
  table-layout: auto;
  width: 100%; 

}

table.table-dark{
  table-layout: auto;
  width: 50%; 
}

row{
  margin-left: 180px;
}

#samping{
  
  
  
  margin-left: 700px;
}



@import "bootstrap";